<!--Hop-On-/Hop-Off-Bustour-->
{% extends 'tours/tour.html' %}
{% block description %}
    Erleben Sie Berlin bei einer Hop-On-/Hop-Off-Stadtrundfahrt mit Live-Kommentar und steigen Sie bequem an den schönsten und wichtigsten Sehenswürdigkeiten der Stadt aus.
{% endblock %}

{% block include %}
    <li>Tagesticket für die Hop-On-/Hop-Off-Bustour</li>
{% endblock %}

{% block meetingpoint %}
    <h5>Treffpunkt</h5>
    Sie können Ihre Hop-On-/Hop-Off-Bustour an jeder genannten Haltestellen beginnen:
    <ol>
        <li>Kurfürstendamm 231 (vor Karstadt)</li>
        <li>KaDeWe, Haupteingang</li>
        <li>Lützowplatz gegenüber Hotel Berlin</li>
        <li>Philharmonie / Kulturforum</li>
        <li>Potsdamer Platz am Kollhoff-Tower</li>
        <li>Potsdamer Platz / Linkstraße</li>
        <li>Topografie des Terrors</li>
        <li>Checkpoint Charlie, am Mauermuseum</li>
        <li>Gendarmenmarkt, Markgrafen- / Taubenstraße</li>
        <li>Alexanderplatz, Rotes Rathaus, Neptunbrunnen</li>
        <li>Karl-Liebknecht Str. 5 (zum Schiff)</li>
        <li>Museumsinsel</li>
        <li>Humboldt-Universität / Bebelplatz</li>
        <li>Unter den Linden 36 / Friedrichstraße</li>
        <li>Unter den Linden 74, Madame Tussauds Berlin</li>
        <li>Brandenburger Tor, Ebertstraße</li>
        <li>Reichstag, Scheidemannstraße</li>
        <li>Hauptbahnhof / Ausgang Rahel-Hirsch-Str.</li>
        <li>Haus der Kulturen der Welt</li>
        <li>Schloss Bellevue / Siegessäule / Tiergarten</li>
        <li>Bikini Haus, Budapester Str.</li>
        <li>U- und S-Bahn Zoologischer Garten</li>
    </ol>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Nicht erlaubt</h6>
    <ul>
        <li>Rauchen</li>
        <li>Große Taschen</li>
    </ul>   
{% endblock %}
