<!--Eintrittskarte für das Pergamonmuseum-->
{% extends 'tours/tour.html' %}
{% block description %}
    Das Pergamonmuseum beherbergt drei Museen: die Antikensammlung, das Vorderasiatische Museum und das Museum für Islamische Kunst und zeigt Kunstwerke des griechischen und römischen Altertums. Es ist eines der "Must See"-Museen Berlins.
{% endblock %}

{% block include %}
    <li>Eintrittskarte für das Museum</li>
{% endblock %}
{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte beachten Sie </h6>
    <ul>
        <li>Im Pergamonmuseum sind keine Flaschen gestattet</li>
    </ul>
{% endblock %}
