<!--Museumspass-->
{% extends 'tours/tour.html' %}
{% block description %}
    Entdecken Sie die Highlights der weltberühmten Museumsinsel in Berlin. 
{% endblock %}

{% block include %}
    <li>Bevorzugter Einlass</li>
    <li>Tagespass für die Museumsinsel, gültig für Bode Museum, Alte Nationalgalerie und Altes Museum</li>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte beachten Sie </h6>
    <li>Das Bode Museum, die Alte Nationalgalerie und das Alte Museum sind montags geschlossen </li>
    <li>Rucksäcke sind in den Ausstellungen nicht gestattet und müssen während Ihres Besuchs in den Schließfächern vor Ort aufbewahrt werden</li>
{% endblock %}
