<!--Besichtigung des Olympiastadions-->
{% extends 'tours/tour.html' %}
{% block description %}
    Das Berliner Olympiastadion vereint Sport, Geschichte, Architektur und Moderne.
{% endblock %}

{% block include %}
    <li>Guide</li>
    <li>Ticket für das Olympiastadion und den Olympiapark</li>
{% endblock %}

{% block meetingpoint %}
    Olympiastadion Berlin, Besucherzentrum am Osttor
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Nicht erlaubt</h6>
    <ul>
        <li>Große Taschen</li>
    </ul> 
{% endblock %}
