<!--Reichstag: Tour mit Plenarsaal und Glaskuppel-->
{% extends 'tours/tour.html' %}
{% block description %}
    Entdecken Sie bei dieser Tour die Highlights im Berliner Regierungsviertel. Bei einem Ausflug bis unters Dach der gläsernen Kuppel des Reichstagsgebäudes bietet sich Ihnen ein einmaliger Ausblick auf die Stadt.
{% endblock %}

{% block include %}
    <li>Anmeldung für den Besuch im Deutschen Bundestag</li>
    <li>Kostenfreier Besuch des Reichstagsgebäudes</li>
    <li>Der Kuppel-Besuch ist von der Arbeitssituation des Parlaments und von Witterungs-/Sicherheitslagen abhängig und kann daher nicht garantiert werden.</li>
{% endblock %}

{% block meetingpoint %}
    Treffpunkt ist vor dem Reichstag am Haupteingang. Ihren Guide erkennen Sie an einem Schild mit der Aufschrift „Stadtführung Reichstag Glaskuppel“.
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte mitbringen</h6>
    <ul>
        <li>Reisepass oder Lichtbildausweis</li>
    </ul>
{% endblock %}
