<!--Rundgang zu versteckten Hinterhöfen-->
{% extends 'tours/tour.html' %}
{% block description %}
    Entdecken Sie Berlins versteckte Hinterhöfe auf diesem Rundgang. Keine andere deutsche Stadt hat so viele Hinterhöfe wie Berlin und mit Ihrem einheimischen Guide besuchen Sie 13 der bekanntesten Hinterhöfe, die die typische Berliner Stadtatmosphäre widerspiegeln.
{% endblock %}

{% block include %}
    <li>Guide</li>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte mitbringen</h6>
    <ul>
        <li>Bequeme Schuhe</li>
        <li>Trinkwasser</li>
    </ul>
{% endblock %}