<!--Kunst und Graffiti Rundgang-->
{% extends 'tours/tour.html' %}
{% block description %}
    Schließen Sie sich anderen Straßenkunst-Enthusiasten an und erkunden Sie Berlins alternative Kunst- und Graffiti-Kultur auf einer Tour durch einige der lebendigsten Viertel der Stadt. 
{% endblock %}

{% block include %}
    <li>Guide</li>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte mitbringen</h6>
    <ul>
        <li>Ticket für den öffentlichen Nahverkehr</li>
    </ul>
    <h6>Bitte beachten Sie</h6>
    <ul>
        <li>Die Tour findet bei jedem Wetter statt </li>
        <li>Für diese Tour müssen Sie ein AB-Ticket für die öffentlichen Verkehrsmittel kaufen.</li>
    </ul> 
{% endblock %}
