<!--Rundgang zu den Highlights der Stadt-->
{% extends 'tours/tour.html' %}
{% block description %}
    Lernen Sie die faszinierende Geschichte und die lebendige Kultur Berlins auf einem umfassenden Rundgang kennen, der Sie zu einigen der historischsten Orte und berühmtesten Bauwerke der Stadt führt. 
{% endblock %}

{% block include %}
    <li>Guide</li>
{% endblock %}

{% block meetingpoint %}
    Treffpunkt vor der Weltzeituhr
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte mitbringen</h6>
    <ul>
        <li>Bequeme Schuhe</li>
        <li>Trinkwasser</li>
        <li>Wettergerechte Kleidung</li>
    </ul>
    <h6>Bitte beachten Sie </h6>
    <ul>
        <li>Die Tour findet bei jedem Wetter statt </li>
        <li>Je nach Route müssen Sie für diese Tour eventuell ein AB-Fahrkarte für die öffentlichen Verkehrsmittel kaufen</li>
    </ul>
{% endblock %}
