<!--Best of Berlin mit dem Bus-->
{% extends 'tours/tour.html' %}
{% block description %}
    Diese Tour bietet Ihnen die Möglichkeit, Berlins berühmteste Sehenswürdigkeiten und Denkmäler zu entdecken. Lassen Sie sich von einem unserer Berliner Sightseeing-Busse auf eine spannende Tour durch die Stadt entführen.
{% endblock %}

{% block include %}
    <li>Tagesticket</li>
{% endblock %}

{% block meetingpoint %}
    <h5>Treffpunkt</h5>
    Sie können Ihre Best of Berlin Bustour an jeder genannten Haltestellen beginnen:
    <ol>
        <li>Kurfürstendamm 231 (vor Karstadt)</li>
        <li>KaDeWe, Haupteingang</li>
        <li>Potsdamer Platz am Kollhoff-Tower</li>
        <li>Potsdamer Platz / Linkstraße</li>
        <li>Alexanderplatz, Rotes Rathaus, Neptunbrunnen</li>
        <li>Karl-Liebknecht Str. 5 (zum Schiff)</li>
        <li>Brandenburger Tor, Ebertstraße</li>
        <li>Reichstag, Scheidemannstraße</li>
        <li>Hauptbahnhof / Ausgang Rahel-Hirsch-Str.</li>
        <li>Haus der Kulturen der Welt</li>
        <li>U- und S-Bahn Zoologischer Garten</li>
    </ol>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Nicht erlaubt</h6>
    <ul>
        <li>Rauchen</li>
        <li>Große Taschen</li>
    </ul>   
{% endblock %}
