<!--Berlin bei Nacht-->
{% extends 'tours/tour.html' %}
{% block description %}
    Lassen Sie sich vom Zauber der Nacht umgeben und erleben Sie die schönsten Orte Berlins bei einem nächtlichen Rundgang aus einer anderen Perspektive. 
{% endblock %}

{% block include %}
    <li>Guide</li>
    <li>Erfrischungsgetränk oder Bier</li>
{% endblock %}

{% block meetingpoint %}
    Treffpunkt am Springbrunnen vor dem Berliner Dom
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Bitte beachten Sie </h6>
    <ul>
        <li>Sie müssen einen Fahrschein für den Tarifbereich A/B kaufen</li>
    </ul> 
{% endblock %}
