<!--Sightseeing-Boottour-->
{% extends 'tours/tour.html' %}
{% block description %}
    Entdecken Sie die Wahrzeichen Berlins auf besondere Art und Weise und tauchen Sie ein in die faszinierende Geschichte der Stadt. 
{% endblock %}

{% block include %}
    <li>Rundfahrt</li>
    <li>Oberdeck- oder Panoramaschiff</li>
    <li>Imbissangebot an Bord</li>
{% endblock %}

{% block information %}
    <h5>Wichtige Informationen</h5>
    <h6>Nicht erlaubt</h6>
    <ul>
        <li>Große Taschen</li>
    </ul>
{% endblock %}
