<!--Tour auf die finstere Seite der Hauptstadt-->
{% extends 'tours/tour.html' %}
{% block description %}
    Entdecken Sie die deutsche Hauptstadt von einer völlig anderen, finsteren Seite bei dieser schaurigen Tour. Besuchen Sie unheimliche Orte, an denen grauenerregende Dinge passiert sind und man noch heute die Präsenz des Bösen spüren kann.
{% endblock %}

{% block include %}
    <li>Guide</li>
    <li>Kleines Geschenk nach der Tour</li>
{% endblock %}

{% block meetingpoint %}
    In der Nähe des Eingangs zu den Ruinen des Franziskanerklosters. Etwa 20 Meter links vom Eingang befindet sich ein großer Stein. Ihr Guide trägt kein Kostüm.
{% endblock %}
