body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

details[open] {
    outline: none;
}

details > summary {
    margin-bottom: 2px;
    font-weight: bold;
    outline: none;
}

details > summary:focus {
    outline: none;
}

.checkbox {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bg-steel {
    background-color: #0d79c5;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.nav-left {
    float: left;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tour-img {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.booking {
    background-color: lightskyblue;
    margin-bottom: 20px;
}

.tour-title {
    color: #444444;
}

a.tour-title:hover {
    color: #5351d8;
    text-decoration: none;
}

.tour-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.button {
    color: #17a2b8;
    height: 37px;
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: center;
    line-height: 1.5;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-color: #17a2b8;
    border-radius: .25rem;
    margin-bottom: 10px;
}

.font-weight-sixtwofive {
    padding-top: 5px;
    font-weight: 625;
}